{% extends 'base.html.twig' %}

{% block title %}Venue{% endblock %}

{% block body %}
    <h1>Venue</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Venue ID</th>
            <td>{{ venue.venueId }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ venue.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ venue.category }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ venue.address.formatted }}</td>
        </tr>
        </tbody>
    </table>

    <div class="accordion" id="accordionData">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingMerchants>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMerchants" aria-expanded="true" aria-controls="collapseMerchants">
                    Mapped Merchants
                </button>
            </h2>
            <div class="accordion-collapse collapse show" id="collapseMerchants" aria-labelledby="headingMerchants">
                <div class="accordion-body px-4">
                    <table class="table table-striped">
                        <tbody>
                        {% for merchant in venue.merchants %}
                            <tr>
                                <th><a href="{{ path('merchant_show', {'id': merchant.merchant.id}) }}">{{ merchant.merchant.name }}</a></th>
                                <td>~{{ venue.address.distanceFrom(merchant.merchant.address) }}m away</td>
                                <td class="small">{{ merchant.merchant.address.formatted }}</td>
                                <td>
                                    {% if merchant.valid %}
                                        <a class="btn btn-danger" href="{{ path('mapping_disable', {'id': merchant.id}) }}">Disable</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{{ path('mapping_enable', {'id': merchant.id}) }}">Enable</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNearby">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNearby" aria-expanded="true" aria-controls="collapseNearby">
                    Nearby Venues
                </button>
            </h2>
            <div class="accordion-collapse collapse show" id="collapseNearby" aria-labelledby="headingNearby">
                <div class="accordion-body px-4">
                    <table class="table table-striped">
                        <tbody>
                        {% for address in nearby %}
                            {% if address.venue.id is not same as venue.id %}
                                <tr>
                                    <th><a href="{{ path('venue_show', {'id': address.venue.id}) }}">{{ address.venue.name }}</a></th>
                                    <td>{{ address.distanceFrom(venue.address) }}m away</td>
                                    <td class="small">{{ address.formatted }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('venues_nearby', {'id': venue.address.id}) }}" class="btn btn-primary">Load nearby venues from Swarm</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
