{% extends 'base.html.twig' %}

{% block title %}Monzo Accounts{% endblock %}

{% block body %}
    <h1>Monzo Accounts</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
        {% for monzo_account in monzo_accounts %}
            <tr>
                <td>{{ monzo_account.accountId }}</td>
                <td>{{ monzo_account.description }}</td>
                <td>{{ monzo_account.type }}</td>
                <td>
                    {% if monzo_account.webhookId %}
                    <a class="btn btn-danger" href="{{ path('monzo_account_disable', {'id': monzo_account.id}) }}">Disable Swanzo</a>
                    {% else %}
                    <a class="btn btn-primary" href="{{ path('monzo_account_enable', {'id': monzo_account.id}) }}">Enable Swanzo</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    If you have a monzo account that isn't listed above, click <a href="{{ path('monzo_account_refresh') }}">here</a> to re-fetch them.
{% endblock %}
