<form method="post" action="{{ path('mapping_delete', {'id': merchant_venue.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ merchant_venue.id) }}">
    <button class="btn">Delete</button>
</form>
