{% extends 'base.html.twig' %}

{% block title %}Edit MerchantVenue{% endblock %}

{% block body %}
    <h1>Edit MerchantVenue</h1>

    {{ include('mapping/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mapping_index') }}">back to list</a>

    {{ include('mapping/_delete_form.html.twig') }}
{% endblock %}
