{% extends 'base.html.twig' %}

{% block title %}Mappings{% endblock %}

{% block body %}
    <h1>Mappings</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Merchant</th>
                <th>Venue</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
        {% for merchant_venue in merchant_venues %}
            <tr>
                <td>
                    <a href="{{ path('merchant_show', {'id': merchant_venue.merchant.id}) }}">{{ merchant_venue.merchant.name }}</a>
                    <p><small>{{ merchant_venue.merchant.address.address }}, {{ merchant_venue.merchant.address.city }}</small></p>
                </td>
                <td>
                    <a href="{{ path('venue_show', {'id': merchant_venue.venue.id}) }}">{{ merchant_venue.venue.name }}</a>
                    <p><small>{{ merchant_venue.venue.address.address }}, {{ merchant_venue.venue.address.city }}</small></p>
                </td>
                <td>
                    {% if merchant_venue.valid %}
                        <a class="btn btn-danger" href="{{ path('mapping_disable', {'id': merchant_venue.id}) }}">Disable</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('mapping_enable', {'id': merchant_venue.id}) }}">Enable</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
