{% extends 'base.html.twig' %}

{% block title %}New MerchantVenue{% endblock %}

{% block body %}
    <h1>Create new MerchantVenue</h1>

    {{ include('mapping/_form.html.twig') }}

    <a href="{{ path('mapping_index') }}">back to list</a>
{% endblock %}
