{% extends 'base.html.twig' %}

{% block title %}MerchantVenue{% endblock %}

{% block body %}
    <h1>MerchantVenue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ merchant_venue.id }}</td>
            </tr>
            <tr>
                <th>Valid</th>
                <td>{{ merchant_venue.valid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mapping_index') }}">back to list</a>

    <a href="{{ path('mapping_edit', {'id': merchant_venue.id}) }}">edit</a>

    {{ include('mapping/_delete_form.html.twig') }}
{% endblock %}
