{% extends 'base.html.twig' %}

{% block title %}Merchant{% endblock %}

{% block body %}
    <h1>Merchant</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Merchant ID</th>
            <td>{{ merchant.merchantId }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ merchant.name }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ merchant.logo }}</td>
        </tr>
        <tr>
            <th>Emoji</th>
            <td>{{ merchant.emoji }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ merchant.category }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ merchant.address.formatted }}</td>
        </tr>
        <tr>
            <th>Mapped Venue</th>
            <td><a href="{{ path('venue_show', {'id': merchant.venue.venue.id}) }}">{{ merchant.venue.venue.name }}</a> <small>({{ merchant.venue.venue.address.formatted }})</small></td>
        </tr>
        </tbody>
    </table>

    <div class="accordion" id="accordionNearby">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNearby">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNearby" aria-expanded="true" aria-controls="collapseNearby">
                    Nearby Venues
                </button>
            </h2>
            <div class="accordion-collapse collapse show" id="collapseNearby" aria-labelledby="headingNearby">
                <div class="accordion-body px-4">
                    <table class="table table-striped">
                        <tbody>
                        {% for address in nearby %}
                        <tr {% if address.venue.id is same as merchant.venue.venue.id %}class="table-primary" {% endif %}>
                            <th><a href="{{ path('venue_show', {'id': address.venue.id}) }}">{{ address.venue.name }}</a></th>
                            <td>{{ address.distanceFrom(merchant.address) }}m away</td>
                            <td class="small">{{ address.formatted }}</td>
                            <td>
                                {% if address.venue.id is same as merchant.venue.venue.id %}
                                    {% if merchant.venue.valid %}
                                        <a class="btn btn-danger" href="{{ path('mapping_disable', {'id': merchant.venue.id}) }}">Disable</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{{ path('mapping_enable', {'id': merchant.venue.id}) }}">Enable</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('mapping_switch', {'merchant': merchant.id, 'venue': address.venue.id}) }}" class="btn btn-warning">Switch Mapping</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('venues_nearby', {'id': merchant.address.id}) }}" class="btn btn-primary">Load nearby venues from Swarm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
