<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('home') }}">Swanzo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a {% if app.request.pathinfo is same as path('home') %} class="nav-link active"  aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ path('home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a {% if app.request.pathinfo is same as path('configure') %} class="nav-link active"  aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ path('configure') }}">Configure</a>
                            </li>
                            <li class="nav-item">
                                <a {% if app.request.pathinfo is same as path('mapping_index') %} class="nav-link active"  aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ path('mapping_index') }}">Mapping</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
