{% extends 'base.html.twig' %}

{% block title %}Configure APIs{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Configure APIs</h1>
    <div class="accordion" id="accordionApis">
        <div class="accordion-item">
            <form method="post">
                <h2 class="accordion-header" id="headingMonzo">
                    <button class="accordion-button{% if not showMonzo %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMonzo" aria-expanded="{{ showMonzo }}" aria-controls="collapseMonzo">
                        {% if showMonzo %}Initial Monzo Setup{% else %}Re-configure Monzo{% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse{% if showMonzo %}show{% endif %}" id="collapseMonzo" aria-labelledby="headingMonzo">
                    <div class="accordion-body px-4">
                        <h2>Instructions</h2>
                        <ol class="list-group list-group-numbered mb-3">
                            <li class="list-group-item">Go to <a href="https://developers.monzo.com/apps/home" target="_blank">https://developers.monzo.com/apps/home</a> and follow the instructions to log in</li>
                            <li class="list-group-item">Approve access to the playground from within your Monzo app (or the following steps won't work)!</li>
                            <li class="list-group-item">
                                Create a new OAuth Client with details:
                                <div class="p-3">
                                    <ul class="list-group list-group-horizontal col-8">
                                        <li class="list-group-item col-6 fw-bold">Name</li>
                                        <li class="list-group-item col-6"><code>Swanzo</code></li>
                                    </ul>
                                    <ul class="list-group list-group-horizontal col-8">
                                        <li class="list-group-item col-6 fw-bold">Redirect URLs</li>
                                        <li class="list-group-item col-6"><code>{{ url('redirect-monzo') }}</code></li>
                                    </ul>
                                    <ul class="list-group list-group-horizontal col-8">
                                        <li class="list-group-item col-6 fw-bold">Description</li>
                                        <li class="list-group-item col-6"><code>Checks in to a swarm location automatically from a Monzo transaction</code></li>
                                    </ul>
                                    <ul class="list-group list-group-horizontal col-8">
                                        <li class="list-group-item col-6 fw-bold">Confidentiality</li>
                                        <li class="list-group-item col-6"><code>Confidential</code></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item">Click on the newly created OAuth Client.</li>
                            <li class="list-group-item">Enter the Client ID and Client Secret below and click Authenticate Monzo.</li>
                            <li class="list-group-item">Follow the instructions like before with the playground.</li>
                            <li class="list-group-item">Remember to approve access from within your Monzo app afterwards!</li>
                        </ol>
                        <div class="mb-3">
                            <input type="hidden" name="type" value="monzo">
                            <div class="mb-3">
                                <label for="inputMonzoClientId" class="fw-bold">Monzo Client ID</label>
                                <input type="text" value="{{ monzo }}" name="clientId" id="inputMonzoClientId" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputMonzoClientSecret" class="fw-bold">Monzo Client Secret</label>
                                <input type="text" name="clientSecret" id="inputMonzoClientSecret" class="form-control" required>
                            </div>
                            <button class="btn {% if showMonzo %}btn-primary{% else %}btn-warning{% endif %}" type="submit">
                                Authenticate Monzo
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="accordion-item">
        <form method="post">
            <h2 class="accordion-header" id="headingSwarm">
                <button class="accordion-button{% if not showSwarm %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSwarm" aria-expanded="{{ showSwarm }}" aria-controls="collapseSwarm">
                    {% if showSwarm %}Initial Swarm Setup{% else %}Re-configure Swarm{% endif %}
                </button>
            </h2>
            <div class="accordion-collapse collapse{% if showSwarm %} show{% endif %}" id="collapseSwarm" aria-labelledby="headingSwarm">
                <div class="accordion-body px-4">
                    <h2>Instructions</h2>
                    <ol class="list-group list-group-numbered mb-3">
                        <li class="list-group-item">Go to <a href="https://foursquare.com/developers/projects" target="_blank">https://foursquare.com/developers/projects</a> and create a new account or log in.</li>
                        <li class="list-group-item">
                            Create a new app with details:
                            <div class="p-3">
                                <ul class="list-group list-group-horizontal col-8">
                                    <li class="list-group-item col-6 fw-bold">App Name</li>
                                    <li class="list-group-item col-6"><code>Swanzo</code></li>
                                </ul>
                                <ul class="list-group list-group-horizontal col-8">
                                    <li class="list-group-item col-6 fw-bold">App URL</li>
                                    <li class="list-group-item col-6"><code>{{ url('home') }}</code></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">Register a redirect URL: <code>{{ url('redirect-swarm') }}</code></li>
                        <li class="list-group-item">Enter the Client ID and Client Secret below and click Authenticate Swarm.</li>
                    </ol>
                    <div class="mb-3">
                        <input type="hidden" name="type" value="swarm">
                        <div class="mb-3">
                            <label for="inputSwarmClientId" class="fw-bold">Swarm Client ID</label>
                            <input type="text" value="{{ swarm }}" name="clientId" id="inputSwarmClientId" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputSwarmClientSecret" class="fw-bold">Swarm Client Secret</label>
                            <input type="text" name="clientSecret" id="inputSwarmClientSecret" class="form-control" required>
                        </div>
                        <button class="btn {% if showSwarm %}btn-primary{% else %}btn-warning{% endif %}" type="submit">
                            Authenticate Swarm
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="accordion-item">
            <h2 class="accordion-header" id="headingAccountSetup">
                <button class="accordion-button{% if not showAccountSetup %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccountSetup" aria-expanded="{{ showAccountSetup }}" aria-controls="collapseAccountSetup">
                    Account Setup
                </button>
            </h2>
            <div class="accordion-collapse collapse{% if showAccountSetup %} show{% endif %}" id="collapseAccountSetup" aria-labelledby="headingAccountSetup">
                <div class="accordion-body px-4">
                    <h2>Prerequisites</h2>
                    <ol class="list-group list-group-numbered mb-3">
                        <li class="list-group-item list-group-item-{% if monzo %}success{% else %}danger{% endif %} col-6">Monzo to be configured</li>
                        <li class="list-group-item list-group-item-{% if swarm %}success{% else %}danger{% endif %} col-6">Swarm to be configured</li>
                    </ol>
                    {% if showAccountSetup %}
                        <a href="{{ path('monzo_account_index') }}">Account Setup</a>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}
