{% extends 'base.html.twig' %}

{% block title %}Setup{% endblock %}

{% block body %}
    <div class="container col-6">
        <h1 class="h3 mt-3 font-weight-normal">Please create a user</h1>
        <form method="post">
            <div class="mb-3">
                <label for="inputUsername">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary" type="submit">
                Create User
            </button>
        </form>
    </div>
{% endblock %}
